/* Decorativi ai lati */
.side-decor-left,
.side-decor-right {
  position: absolute;
  top: 0;
  width: 360px;
  height: 100vh;
  z-index: 10;
  pointer-events: none;
}

.side-decor-left {
  left: 0;
  background: url("src/assets/media/animal/gigant_saur.trasp.PNG") right center/contain no-repeat;
}

.side-decor-right {
  right: 0;
  background: url("src/assets/media/animal/feral.trasp.PNG") left center/contain no-repeat;
}

/* Responsive decorativi ai lati */
@media (max-width: 1200px) {
  .side-decor-left,
  .side-decor-right {
    position: absolute;
    width: 260px;
    top: 120px;
    background-position: top center !important;
  }
}
@media (max-width: 900px) {
  .side-decor-left,
  .side-decor-right {
    width: 200px;
  }
}
@media (max-width: 800px) {
  .side-decor-left,
  .side-decor-right {
    width: 200px;
  }
}
@media (max-width: 700px) {
  .side-decor-left,
  .side-decor-right {
    width: 100px;
  }
}
